doctype html
html
    head
        title Account Created
    body
        h1 Account created successfully!
        p Your account with username #{username} has been created.
        a(href='/auth/login') Click here to login